[Unit]
Description=Filespace Server
After=network.target multi-user.target

[Service]
User=mrps
ExecStart=/opt/mrps/filespace/filespace
Restart=never
StandardOutput=journal
StandardError=journal
SyslogIdentifier=filespaceserver

[Install]
WantedBy=multi-user.target
